
@media(min-width: 435px) {
	.loginButton {
		width: 330px;
		height: 65px;
		border-radius: 33px !important;
	}
}

@media(max-width: 435px) {
	.loginButton {
		width: 100%;
		height: calc(100vw / 5);
		border-radius: calc(10vw) !important;
	}
}

.btnCapitals {
	border-radius: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

.defaultButton {
	height: 50px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.orangeButton { 
	color: #FFFFFF; 
	background-color: #FF8C00; 
	border-color: #FF8C00; 
} 
 
.orangeButton:hover, 
.orangeButton:focus, 
.orangeButton:active, 
.orangeButton.active, 
.open .dropdown-toggle.orangeButton { 
	color: #FFFFFF; 
	background-color: #F2AF00; 
	border-color: #F2AF00; 
} 
 
.orangeButton:active, 
.orangeButton.active, 
.open .dropdown-toggle.orangeButton { 
  background-image: none; 
} 
 
.orangeButton.disabled, 
.orangeButton[disabled], 
fieldset[disabled] .orangeButton, 
.orangeButton.disabled:hover, 
.orangeButton[disabled]:hover, 
fieldset[disabled] .orangeButton:hover, 
.orangeButton.disabled:focus, 
.orangeButton[disabled]:focus, 
fieldset[disabled] .orangeButton:focus, 
.orangeButton.disabled:active, 
.orangeButton[disabled]:active, 
fieldset[disabled] .orangeButton:active, 
.orangeButton.disabled.active, 
.orangeButton[disabled].active, 
fieldset[disabled] .orangeButton.active { 
	background-color: #FF8C00; 
	border-color: #FF8C00; 
} 
 
.orangeButton .badge { 
	color: #FF8C00; 
	background-color: #FFFFFF; 
}

.blueButton { 
  color: #FFFFFF; 
  background-color: #00B2A9; 
  border-color: #00B2A9; 
} 
 
.blueButton:hover, 
.blueButton:focus, 
.blueButton:active, 
.blueButton.active, 
.open .dropdown-toggle.blueButton { 
  color: #FFFFFF; 
  background-color: #1E90FF; 
  border-color: #1E90FF; 
} 
 
.blueButton:active, 
.blueButton.active, 
.open .dropdown-toggle.blueButton { 
  background-image: none; 
} 
 
.blueButton.disabled, 
.blueButton[disabled], 
fieldset[disabled] .blueButton, 
.blueButton.disabled:hover, 
.blueButton[disabled]:hover, 
fieldset[disabled] .blueButton:hover, 
.blueButton.disabled:focus, 
.blueButton[disabled]:focus, 
fieldset[disabled] .blueButton:focus, 
.blueButton.disabled:active, 
.blueButton[disabled]:active, 
fieldset[disabled] .blueButton:active, 
.blueButton.disabled.active, 
.blueButton[disabled].active, 
fieldset[disabled] .blueButton.active { 
  background-color: #00B2A9; 
  border-color: #00B2A9; 
} 
 
.blueButton .badge { 
  color: #00B2A9; 
  background-color: #FFFFFF; 
}
