

@media(min-width: 1450px){
	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		margin: 0 auto;
		grid-template-areas: "logo options" "settingsBlock settingsBlock" "generateButtonBottom generateButtonBottom";
	}
	
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 3rem;
		margin-bottom: 2rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize" "gameModeContent" "generateButtonTop";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2fr 1fr 100px 1fr;

		grid-template-areas: "wholeSizeHeading typeSizeBox1 wholeSizeX typeSizeBox2" "wholeSizeHeading - - -"; 
	}

	#gameModeOutOptions {
		display: none;
	}
	
	#gameModeOptions {
		display: grid;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: block;
		grid-area: wholeSizeX;
		justify-self: center;
		align-self: center;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeText wholeSizeText" "- wholeSizeInput" ; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	.gameModeContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "gameModeHeader gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}



	#generateButtonTopOutOptions {
		display: none !important;
	}
	
	#generateButtonTopOptions {
		display: block;
	}
}


@media(max-width: 1450px) and (min-width: 1350px){
	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		margin: 0 auto;
		grid-template-areas: "logo options" "settingsBlock settingsBlock" "generateButtonBottom generateButtonBottom";
	}
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 3rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize" "gameModeContent" "generateButtonTop";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2rem 1fr 100px 1fr;

		grid-template-areas: "wholeSizeHeading wholeSizeHeading wholeSizeHeading wholeSizeHeading" "- typeSizeBox1 wholeSizeX typeSizeBox2" ; 
	}

	#gameModeOutOptions {
		display: none;
	}
	
	#gameModeOptions {
		display: grid;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: block;
		grid-area: wholeSizeX;
		justify-self: center;
		align-self: center;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeText wholeSizeText" "- wholeSizeInput" ; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	
	.gameModeContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "gameModeHeader gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}
	
	
	#generateButtonTopOutOptions {
		display: none !important;
	}
	
	#generateButtonTopOptions {
		display: block;
	}
}




@media(max-width: 1350px) and (min-width: 1200px){
	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		margin: 0 auto;
		grid-template-areas: "logo options" "gameModeContent options" "generateButtonTop generateButtonTop" "settingsBlock settingsBlock" "generateButtonBottom generateButtonBottom";
	}
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 3rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2rem 1fr 100px 1fr;

		grid-template-areas: "wholeSizeHeading wholeSizeHeading wholeSizeHeading wholeSizeHeading" "- typeSizeBox1 wholeSizeX typeSizeBox2" ; 
	}


	#gameModeOutOptions {
		display: grid;
	}
	
	#gameModeOptions {
		display: none;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: block;
		grid-area: wholeSizeX;
		justify-self: center;
		align-self: center;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeText wholeSizeText" "- wholeSizeInput" ; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	.gameModeContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "gameModeHeader gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}
	
	
	#generateButtonTopOutOptions {
		display: block;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
	
	#generateButtonTopOptions {
		display: none !important;
	}
}



@media(max-width: 1200px) and (min-width: 1000px){
	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		margin: 0 auto;
		grid-template-areas: "logo options" "gameModeContent options" "generateButtonTop generateButtonTop" "settingsBlock settingsBlock" "generateButtonBottom generateButtonBottom";
	}
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 3rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2rem 1fr 100px 1fr;

		grid-template-areas: "wholeSizeHeading wholeSizeHeading wholeSizeHeading wholeSizeHeading" "- typeSizeBox1 wholeSizeX typeSizeBox2" ; 
	}


	#gameModeOutOptions {
		display: grid;
	}
	
	#gameModeOptions {
		display: none;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: block;
		grid-area: wholeSizeX;
		justify-self: center;
		align-self: center;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeText wholeSizeText" "- wholeSizeInput" ; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	.gameModeContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "gameModeHeader gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}
	
	
	#generateButtonTopOutOptions {
		display: block;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
	
	#generateButtonTopOptions {
		display: none !important;
	}
}



@media(max-width: 1000px) and (min-width: 700px){
	header {
		display: grid;
		width: 80%;
		margin: 0 auto;
		grid-template-areas: "logo" "options" "generateButtonTop" "settingsBlock" "generateButtonBottom";
	}
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 1rem;
		margin-bottom: 2rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize" "gameModeContent" "generateButtonTop";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2rem 1fr 100px 1fr;

		grid-template-areas: "wholeSizeHeading wholeSizeHeading wholeSizeHeading wholeSizeHeading" "- typeSizeBox1 wholeSizeX typeSizeBox2" ; 
	}


	#gameModeOutOptions {
		display: none;
	}
	
	#gameModeOptions {
		display: grid;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: block;
		grid-area: wholeSizeX;
		justify-self: center;
		align-self: center;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeText wholeSizeText" "- wholeSizeInput" ; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	
	.gameModeContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "gameModeHeader gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}
	
	
	
	#generateButtonTopOutOptions {
		display: none !important;
	}
	
	#generateButtonTopOptions {
		display: block;
		margin-top: 1rem;
	}
}


@media(max-width: 700px) and (min-width: 500px){
	header {
		display: grid;
		width: 80%;
		margin: 0 auto;
		grid-template-areas: "logo" "options" "generateButtonTop" "settingsBlock" "generateButtonBottom";
	}
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 1rem;
		margin-bottom: 2rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize" "gameModeContent" "generateButtonTop";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2rem 1fr 100px 1fr;

		grid-template-areas: "wholeSizeHeading wholeSizeHeading wholeSizeHeading wholeSizeHeading" "- typeSizeBox1 wholeSizeX typeSizeBox2" ; 
	}


	#gameModeOutOptions {
		display: none;
	}
	
	#gameModeOptions {
		display: grid;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: block;
		grid-area: wholeSizeX;
		justify-self: center;
		align-self: center;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeText wholeSizeText" "- wholeSizeInput" ; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	
	.gameModeContent {
		display: grid;
		
		grid-template-areas: "gameModeHeader" "gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 3rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}
	
	
	
	#generateButtonTopOutOptions {
		display: none !important;
	}
	
	#generateButtonTopOptions {
		display: block;
		margin-top: 1rem;
	}
}



@media(max-width: 500px){
	header {
		display: grid;
		width: 90%;
		max-width: 500px;
		margin: 0 auto;
		grid-template-areas: "logo" "options" "generateButtonTop" "settingsBlock" "generateButtonBottom";
	}
	
	.options {
		grid-area: options;
		display: grid;
		margin-top: 1rem;
		margin-bottom: 2rem;
		grid-gap: 0.5rem;
		grid-template-areas: "mainHeading" "wholeSize" "gameModeContent" "generateButtonTop";	
	}



	.logo {
		display: inline-block;
		grid-area: logo;
		width: 100%;
	}




	.wholeSize {
		grid-area: wholeSize;
		display: grid;
		align-content: center;
		grid-template-columns: 2rem 1fr;

		grid-template-areas: "wholeSizeHeading wholeSizeHeading" "- typeSizeBox1" "- typeSizeBox2" ; 
	}


	#gameModeOutOptions {
		display: none;
	}
	
	#gameModeOptions {
		display: grid;
	}
	
	.mainHeading {
		 grid-area: mainHeading;
	}



	.wholeSizeHeading {
		display: block;
		grid-area: wholeSizeHeading;
	}

	.wholeSizeX {
		display: none;
	}



	.typeSizeBox1 {
		grid-area: typeSizeBox1;
	}

	.typeSizeBox2 {
		grid-area: typeSizeBox2;
	}

	.typeSizeBox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "wholeSizeText wholeSizeInput"; 
	}

	.wholeSizeText {
		grid-area: wholeSizeText;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInput {
		grid-area: wholeSizeInput;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}

	.sizeInputSmall {
		width: 100px;
		justify-self: center;
	}
	
	
	
	.gameModeContent {
		display: grid;
		
		grid-template-areas: "gameModeHeader" "gameMode";	
		grid-area: gameModeContent;
		padding: 0;
	}

	.gameModeHeader {
		grid-area: gameModeHeader;
	}

	.gameMode {
		display: block;
		height: 40px;
		margin-left: 3rem;
		margin-right: 1rem;
		padding: 0;
		grid-area: gameMode;
		align-self: center;
	}
	
	
	
	#generateButtonTopOutOptions {
		display: none !important;
	}
	
	#generateButtonTopOptions {
		display: block;
		margin-top: 1rem;
	}
}



@media(min-width: 1300px){
		
	.generateButtonTop {
		display: block;
		grid-area: generateButtonTop;
		justify-self: center;
	}

	#generateButtonBottom {
		display: block;
		grid-area: generateButtonBottom;
		justify-self: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}



	.settingsBlock {
		grid-area: settingsBlock;
		display: grid;
		margin-top: 2rem;
		grid-gap: 4rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "mazeStyleContent optionalContent";
	}

	.optionalContent {
		grid-area: optionalContent;
		display: none;
		padding: 1rem;
		padding-left: 3rem;
		grid-template-areas: "optionalSettingsHeader" "optionalResult" "generateButtonOptional";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#applyToMazeButton {
		grid-area: applyToMazeButton;
		justify-self: center;
		margin-top: 2rem;
		//margin-bottom: 2rem;
	}

	.mazeStyleContent {
		grid-area: mazeStyleContent;
		display: grid;
		padding: 1rem;
		padding-left: 3rem;
		grid-template-areas: "mazeStyleHeader" "setSizesDiv" "setsColors" "applyToMazeButton";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#generateButtonOptional {
		grid-area: generateButtonOptional;
		justify-self: center;
	}


	.mazeStyleHeader {
		display: inline-block;
		grid-area: mazeStyleHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.optionalSettingsHeader {
		display: inline-block;
		grid-area: optionalSettingsHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}




	.typeSizeBoxStyle {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeTextStyle wholeSizeTextStyle" "- wholeSizeInputStyle" ; 
	}

	.wholeSizeTextStyle {
		grid-area: wholeSizeTextStyle;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInputStyle {
		grid-area: wholeSizeInputStyle;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}
	


	.setsColors {
		grid-area: setsColors;
		margin-top: 1rem;
	}

	.colorChooserField {
		height: 50px;
		width: 25%;
		margin-left: 2rem;
		font-size: 15px;
	}



	.setSizesDiv {
		grid-area: setSizesDiv;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "fieldSize borderSize";
		background-color: #c2b280;
		border-radius: 75px;
	}

	.fieldSize { 
		grid-area: fieldSize;
	}

	.borderSize {
		grid-area: borderSize;
	}





	.optionalResult {
		grid-area: optionalResult;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "choicesDiv waysResult";
		margin-left: 2rem;
		margin-top: 2rem;
	}

	.choicesDiv {
		grid-area: choicesDiv;
	}

	.waysResult {
		grid-area: waysResult;
	}

	.radioOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}

	.choiceOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}



	.choiceDiv {
		display: grid;
		grid-template-areas: "choiceOption effectsOption";
		justify-content: start;
		align-content: center;
	}

	.choiceOption {
		grid-area: choiceOption;
	}

	.effectsOption {
		grid-area: effectsOption;
	}



	.optionDiv {
		display: grid;
		grid-template-areas: "radioOption textOption";
		justify-content: start;
		align-content: center;
	}

	.radioOption {
		grid-area: radioOption;
	}

	.textOption {
		grid-area: textOption;
	}



	.percentageBlock {
		visibility: hidden;
		margin-left: 2rem;
	}

	#probabilityInput {
		margin-left: 2rem;
		margin-bottom: 0.5rem;
	}
}


@media(max-width: 1300px) and (min-width: 1050px){
	.generateButtonTop {
		display: block;
		grid-area: generateButtonTop;
		justify-self: center;
	}

	#generateButtonBottom {
		display: block;
		grid-area: generateButtonBottom;
		justify-self: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}



	.settingsBlock {
		grid-area: settingsBlock;
		display: grid;
		margin-top: 2rem;
		grid-gap: 4rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "mazeStyleContent optionalContent";
	}

	.optionalContent {
		grid-area: optionalContent;
		display: none;
		padding: 1rem;
		padding-left: 1rem;
		grid-template-areas: "optionalSettingsHeader" "optionalResult" "generateButtonOptional";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#applyToMazeButton {
		grid-area: applyToMazeButton;
		justify-self: center;
		margin-bottom: 2rem;
	}

	.mazeStyleContent {
		grid-area: mazeStyleContent;
		display: grid;
		padding: 1rem;
		padding-left: 3rem;
		grid-template-areas: "mazeStyleHeader" "setSizesDiv" "setsColors" "applyToMazeButton";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#generateButtonOptional {
		grid-area: generateButtonOptional;
		justify-self: center;
	}


	.mazeStyleHeader {
		display: inline-block;
		grid-area: mazeStyleHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.optionalSettingsHeader {
		display: inline-block;
		grid-area: optionalSettingsHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}




	.typeSizeBoxStyle {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "wholeSizeTextStyle wholeSizeInputStyle" ; 
	}

	.wholeSizeTextStyle {
		grid-area: wholeSizeTextStyle;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInputStyle {
		grid-area: wholeSizeInputStyle;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}
	
	

	.setsColors {
		grid-area: setsColors;
		margin-top: 1rem;
	}


	.colorChooserField {
		height: 50px;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 1rem;
		font-size: 15px;
	}


	.setSizesDiv {
		grid-area: setSizesDiv;
		display: grid;
		grid-template-areas: "fieldSize" "borderSize";
		background-color: #c2b280;
		border-radius: 75px;
	}

	.fieldSize { 
		grid-area: fieldSize;
	}

	.borderSize {
		grid-area: borderSize;
	}





	.optionalResult {
		grid-area: optionalResult;
		display: grid;
		grid-row-gap: 1rem;
		grid-template-areas: "choicesDiv" "waysResult";
		margin-left: 2rem;
		margin-top: 2rem;
	}

	.choicesDiv {
		grid-area: choicesDiv;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.waysResult {
		grid-area: waysResult;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.radioOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}

	.choiceOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}



	.choiceDiv {
		display: grid;
		grid-template-areas: "choiceOption effectsOption";
		grid-gap: 1rem;
		justify-content: start;
		align-content: center;
	}

	.choiceOption {
		grid-area: choiceOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.effectsOption {
		grid-area: effectsOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



	.optionDiv {
		display: grid;
		grid-template-areas: "radioOption textOption";
		grid-gap: 1rem;
		justify-content: start;
		align-content: center;
	}

	.radioOption {
		grid-area: radioOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.textOption {
		grid-area: textOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



	.percentageBlock {
		visibility: hidden;
		margin-left: 2rem;
	}

	#probabilityInput {
		margin-left: 2rem;
		margin-bottom: 0.5rem;
	}
}



@media(max-width: 1050px) and (min-width: 750px){
	.generateButtonTop {
		display: block;
		grid-area: generateButtonTop;
		justify-self: center;
	}

	#generateButtonBottom {
		display: block;
		grid-area: generateButtonBottom;
		justify-self: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}



	.settingsBlock {
		grid-area: settingsBlock;
		display: grid;
		margin-top: 2rem;
		grid-gap: 4rem;
		grid-template-areas: "optionalContent" "mazeStyleContent";
	}

	.optionalContent {
		grid-area: optionalContent;
		display: none;
		padding: 1rem;
		padding-left: 1rem;
		grid-template-areas: "optionalSettingsHeader" "optionalResult" "generateButtonOptional";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#applyToMazeButton {
		grid-area: applyToMazeButton;
		justify-self: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.mazeStyleContent {
		grid-area: mazeStyleContent;
		display: grid;
		padding: 1rem;
		padding-left: 3rem;
		grid-template-areas: "mazeStyleHeader" "setSizesDiv" "setsColors" "applyToMazeButton";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#generateButtonOptional {
		grid-area: generateButtonOptional;
		justify-self: center;
		margin-bottom: 2rem;
	}


	.mazeStyleHeader {
		display: inline-block;
		grid-area: mazeStyleHeader;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.optionalSettingsHeader {
		display: inline-block;
		grid-area: optionalSettingsHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}




	.typeSizeBoxStyle {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "wholeSizeTextStyle wholeSizeInputStyle" ; 
	}

	.wholeSizeTextStyle {
		grid-area: wholeSizeTextStyle;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInputStyle {
		grid-area: wholeSizeInputStyle;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}
	
	

	.setsColors {
		grid-area: setsColors;
		margin-top: 1rem;
	}


	.colorChooserField {
		height: 50px;
		width: 25%;
		margin-left: 2rem;
		font-size: 15px;
	}


	.setSizesDiv {
		grid-area: setSizesDiv;
		display: grid;
		grid-template-areas: "fieldSize" "borderSize";
		background-color: #c2b280;
		border-radius: 75px;
	}

	.fieldSize { 
		grid-area: fieldSize;
	}

	.borderSize {
		grid-area: borderSize;
	}





	.optionalResult {
		grid-area: optionalResult;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "choicesDiv waysResult";
		margin-left: 2rem;
		margin-top: 2rem;
	}

	.choicesDiv {
		grid-area: choicesDiv;
	}

	.waysResult {
		grid-area: waysResult;
	}

	.radioOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}

	.choiceOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}



	.choiceDiv {
		display: grid;
		grid-template-areas: "choiceOption effectsOption";
		justify-content: start;
		align-content: center;
	}

	.choiceOption {
		grid-area: choiceOption;
	}

	.effectsOption {
		grid-area: effectsOption;
	}



	.optionDiv {
		display: grid;
		grid-template-areas: "radioOption textOption";
		justify-content: start;
		align-content: center;
	}

	.radioOption {
		grid-area: radioOption;
	}

	.textOption {
		grid-area: textOption;
	}



	.percentageBlock {
		visibility: hidden;
		margin-left: 2rem;
	}

	#probabilityInput {
		margin-left: 2rem;
		margin-bottom: 0.5rem;
	}
}



@media(max-width: 750px) and (min-width: 550px){
	.generateButtonTop {
		display: block;
		grid-area: generateButtonTop;
		justify-self: center;
	}

	#generateButtonBottom {
		display: block;
		grid-area: generateButtonBottom;
		justify-self: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}



	.settingsBlock {
		grid-area: settingsBlock;
		display: grid;
		margin-top: 2rem;
		grid-template-areas: "mazeStyleContent" "optionalContent";
	}

	.optionalContent {
		grid-area: optionalContent;
		display: none;
		padding: 1rem;
		padding-left: 1rem;
		margin-top: 4rem;
		grid-template-areas: "optionalSettingsHeader" "optionalResult" "generateButtonOptional";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#applyToMazeButton {
		grid-area: applyToMazeButton;
		justify-self: center;
		margin-bottom: 2rem;
	}
	
	.mazeStyleContent {
		grid-area: mazeStyleContent;
		display: grid;
		padding: 1rem;
		padding-left: 3rem;
		grid-template-areas: "mazeStyleHeader" "setSizesDiv" "setsColors" "applyToMazeButton";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#generateButtonOptional {
		grid-area: generateButtonOptional;
		justify-self: center;
	}


	.mazeStyleHeader {
		display: inline-block;
		grid-area: mazeStyleHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.optionalSettingsHeader {
		display: inline-block;
		grid-area: optionalSettingsHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}




	.typeSizeBoxStyle {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "wholeSizeTextStyle wholeSizeInputStyle" ; 
	}

	.wholeSizeTextStyle {
		grid-area: wholeSizeTextStyle;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInputStyle {
		grid-area: wholeSizeInputStyle;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}
	
	

	.setsColors {
		grid-area: setsColors;
		margin-top: 1rem;
	}


	.colorChooserField {
		height: 50px;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 1rem;
		font-size: 15px;
	}


	.setSizesDiv {
		grid-area: setSizesDiv;
		display: grid;
		grid-template-areas: "fieldSize" "borderSize";
		background-color: #c2b280;
		border-radius: 75px;
	}

	.fieldSize { 
		grid-area: fieldSize;
	}

	.borderSize {
		grid-area: borderSize;
	}





	.optionalResult {
		grid-area: optionalResult;
		display: grid;
		grid-row-gap: 1rem;
		grid-template-areas: "choicesDiv" "waysResult";
		margin-left: 2rem;
		margin-top: 2rem;
	}

	.choicesDiv {
		grid-area: choicesDiv;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.waysResult {
		grid-area: waysResult;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.radioOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}

	.choiceOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}



	.choiceDiv {
		display: grid;
		grid-template-areas: "choiceOption effectsOption";
		grid-gap: 1rem;
		justify-content: start;
		align-content: center;
	}

	.choiceOption {
		grid-area: choiceOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.effectsOption {
		grid-area: effectsOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



	.optionDiv {
		display: grid;
		grid-template-areas: "radioOption textOption";
		grid-gap: 1rem;
		justify-content: start;
		align-content: center;
	}

	.radioOption {
		grid-area: radioOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.textOption {
		grid-area: textOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



	.percentageBlock {
		visibility: hidden;
		margin-left: 2rem;
	}

	#probabilityInput {
		margin-left: 2rem;
		margin-bottom: 0.5rem;
	}
}


@media(max-width: 550px){
	.generateButtonTop {
		display: block;
		grid-area: generateButtonTop;
		justify-self: center;
	}

	#generateButtonBottom {
		display: block;
		grid-area: generateButtonBottom;
		justify-self: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}



	.settingsBlock {
		grid-area: settingsBlock;
		display: grid;
		margin-top: 2rem;
		grid-template-areas: "mazeStyleContent" "optionalContent";
	}

	.optionalContent {
		grid-area: optionalContent;
		display: none;
		padding: 1rem;
		padding-left: 1rem;
		margin-top: 4rem;
		grid-template-areas: "optionalSettingsHeader" "optionalResult" "generateButtonOptional";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#applyToMazeButton {
		grid-area: applyToMazeButton;
		justify-self: center;
		margin-bottom: 2rem;
	}
	
	.mazeStyleContent {
		grid-area: mazeStyleContent;
		display: grid;
		padding: 1rem;
		padding-left: 3rem;
		grid-template-areas: "mazeStyleHeader" "setSizesDiv" "setsColors" "applyToMazeButton";
		background-color: #c2b280;
		border-radius: 75px;
	}

	#generateButtonOptional {
		grid-area: generateButtonOptional;
		justify-self: center;
	}


	.mazeStyleHeader {
		display: inline-block;
		grid-area: mazeStyleHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.optionalSettingsHeader {
		display: inline-block;
		grid-area: optionalSettingsHeader;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}




	.typeSizeBoxStyle {
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-areas: "wholeSizeTextStyle wholeSizeTextStyle" "- wholeSizeInputStyle" ; 
	}

	.wholeSizeTextStyle {
		grid-area: wholeSizeTextStyle;
		padding: 0;
		margin-bottom: 0.5rem;

	}

	.wholeSizeInputStyle {
		grid-area: wholeSizeInputStyle;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
	}
	
	

	.setsColors {
		grid-area: setsColors;
		margin-top: 1rem;
	}


	.colorChooserField {
		height: 50px;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 1rem;
		font-size: 15px;
	}


	.setSizesDiv {
		grid-area: setSizesDiv;
		display: grid;
		grid-template-areas: "fieldSize" "borderSize";
		background-color: #c2b280;
		border-radius: 75px;
	}

	.fieldSize { 
		grid-area: fieldSize;
	}

	.borderSize {
		grid-area: borderSize;
	}





	.optionalResult {
		grid-area: optionalResult;
		display: grid;
		grid-row-gap: 1rem;
		grid-template-areas: "choicesDiv" "waysResult";
		margin-left: 2rem;
		margin-top: 2rem;
	}

	.choicesDiv {
		grid-area: choicesDiv;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.waysResult {
		grid-area: waysResult;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.radioOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}

	.choiceOption {
		width: 25px;
		float: left;
		margin-right: 1rem;
	}



	.choiceDiv {
		display: grid;
		grid-template-areas: "choiceOption effectsOption";
		grid-gap: 1rem;
		justify-content: start;
		align-content: center;
	}

	.choiceOption {
		grid-area: choiceOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.effectsOption {
		grid-area: effectsOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



	.optionDiv {
		display: grid;
		grid-template-areas: "radioOption textOption";
		grid-gap: 1rem;
		justify-content: start;
		align-content: center;
	}

	.radioOption {
		grid-area: radioOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.textOption {
		grid-area: textOption;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



	.percentageBlock {
		visibility: hidden;
		margin-left: 2rem;
	}

	#probabilityInput {
		margin-left: 2rem;
		margin-bottom: 0.5rem;
	}
}

.roundButton {
	border-radius: 25px;
}




@media(min-width: 400px){
	.copyleft {
	  display:inline-block;
	  grid-area: copyleft;
	  transform: rotate(180deg);
	  padding-top: 1rem;
	}
	.textFooter{
		grid-area: textFooter;
	}

	.nameFooter {
		grid-area: nameFooter;
	}

	footer {
		margin-top: 2rem;
		margin-bottom: 1rem;
		text-align: center;
	}

	.toCenter { 
		display: grid;
		grid-template-areas: "textFooter copyleft nameFooter";
		grid-column-gap: 1rem;
		justify-content: center;
		align-content: center;
	}
	
	.textFooterAnother {
		display: none;
	}
	
}


@media(max-width: 400px){
	.copyleft {
	  display:inline-block;
	  grid-area: copyleft;
	  transform: rotate(180deg);
	  padding-top: 1rem;
	  justify-self: center;
	}
	
	.textFooter{
		display: none;
		
	}

	.nameFooter {
		grid-area: nameFooter;
		justify-self: center;
	}

	footer {
		margin-top: 2rem;
		margin-bottom: 1rem;
		text-align: center;
	}

	.toCenter { 
		display: grid;
		grid-template-areas: "copyleft nameFooter";
		grid-column-gap: 1rem;
		justify-content: center;
		align-content: center;
	}
	
	.textFooterAnother {
		display: inline;
		margin-bottom: 1rem;
	}
}
#novy {
	margin-top: 5rem;
}
