
body {
	background-color: aquamarine;
	margin-left: 2rem;
}

.center {
	width: 90%;
	margin: 0 auto;
}

.borderBox {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.ball {
	width: 45px;
	height: 45px;
}
.mazeArea {
	/*width: 1000px;*/
	width: 200px;
}

.mazeArea1 {
	/*width: 1000px;*/
	width: 5000px;
}

.mazeArea2 {
	/*width: 1000px;*/
	width: 1000px;
}

.mazeArea3 {
	/*width: 1000px;*/
	width: 500px;
}

.mazeArea4 {
	/*width: 1000px;*/
	width: 750px;
}

.mazeArea5 {
	/*width: 1000px;*/
	width: 250px;
}

.mazeSquare {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0;
}

.hiddenContent {
	background-color: black;
}


.borderLeftRightUpDown {
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-top-color: black;
	border-bottom: 2px solid black;
}

.borderBottom {
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
	
	border-bottom: 2px solid black;
}

.borderUp {
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	
	
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: black;
	
	border-bottom: 2px solid transparent;
}

.borderRight {
	border-right: 2px solid black;
	
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.borderLeft {
	border-right: 2px solid transparent;
	
	border-left: 2px solid black;
	
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.borderUpBottom {
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	
	border-top: 2px solid black;
	border-top-color: black;
	border-bottom: 2px solid black;
}

.borderRightBottom {
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
	
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.borderLeftBottom {
	border-right: 2px solid transparent;
	border-top: 2px solid transparent;
	
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.borderRightUp {
	border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
	
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-top-color: black;
}

.borderLeftUp {
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
	
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-top-color: black;
}

.borderLeftRight {
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.borderRightUpBottom {
	border-left: 2px solid transparent;
	
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-top-color: black;
	border-bottom: 2px solid black;
}

.borderLeftUpBottom {
	border-right: 2px solid transparent;
	
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-top-color: black;
	border-bottom: 2px solid black;
}

.borderLeftRightBottom {
	border-top: 2px solid transparent;
	
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.borderLeftRightUp {
	border-bottom: 2px solid transparent;
	
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-top-color: black;
}

.noBorder {
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
}


.backgroundGrass {
	background-image: url(../pictures/backgroundStyle/grass1.bmp);
	background-repeat: no-repeat;
	background-clip: border-box;
	
}


