
body {
	font-family: Georgia, Arial, serif;
}

@media(min-width: 1200px){
	.heading1 {
		font-weight: bold;
		font-size: 4rem;
	}
}

@media(max-width: 1200px) and (min-width: 1000px){
	.heading1 {
		font-weight: bold;
		font-size: 3.5rem;
	}
}


@media(max-width: 1000px) and (min-width: 400px){
	.heading1 {
		font-weight: bold;
		font-size: 3.5rem;
	}
}

@media(max-width: 400px){
	.heading1 {
		font-weight: bold;
		font-size: 3rem;
	}
}

.heading2 {
	font-weight: bold;
	font-size: 2.5rem;
}

.textHead {
	font-weight: bold;
	font-size: 2rem;
}

.textHeadSmall {
	font-weight: bold;
	font-size: 1rem;
}

.footerText {
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
}

.inputText {
	text-align: center;
	font-size: 20px;
}

.textButton {
	font-weight: bold;
}

.textLeft {
	text-align: left;
}
